@import 'tailwindcss';

@font-face {
	font-family: 'Aeonik Pro';
	src: url('/fonts/aeonikpro.woff2') format('woff2');
	font-weight: 200 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik font-mono';
	src: url('/fonts/aeonikmono.woff2') format('woff2');
	font-weight: 200 800;
	font-style: normal;
	font-display: swap;
}

:root {
	--base-hue: 285;
	--color-background: oklch(0.9542 0.002 var(--base-hue));
	--color-foreground: oklch(0.2408 0.0044 var(--base-hue));
	--color-accent: oklch(0.6996 0.201959 44.4414);
	--color-border: oklch(0.9225 0.002 var(--base-hue));
	--color-card: oklch(1 0 0);
	--color-card-muted: oklch(0.9342 0.002 var(--base-hue));
	--color-card-light: oklch(0.9842 0.002 var(--base-hue));
	--shadow-xs: 0px 1px 1px -0.5px rgba(0, 0, 0, 0.15);
	--shadow-sm: 0px 1px 1px -0.5px rgba(0, 0, 0, 0.15), 0px 3px 3px -1.5px rgba(0, 0, 0, 0.05);
	--shadow-md:
		0px 1px 1px -0.5px rgba(0, 0, 0, 0.15), 0px 3px 3px -1.5px rgba(0, 0, 0, 0.05),
		0px 6px 6px -3px rgba(0, 0, 0, 0.05);
	--shadow-lg:
		0px 1px 1px -0.5px rgba(0, 0, 0, 0.15), 0px 3px 3px -1.5px rgba(0, 0, 0, 0.05),
		0px 6px 6px -3px rgba(0, 0, 0, 0.05), 0px 12px 12px -6px rgba(0, 0, 0, 0.05);
	--shadow-xl:
		0px 1px 1px -0.5px rgba(0, 0, 0, 0.15), 0px 3px 3px -1.5px rgba(0, 0, 0, 0.05),
		0px 6px 6px -3px rgba(0, 0, 0, 0.05), 0px 12px 12px -6px rgba(0, 0, 0, 0.05),
		0px 24px 24px -12px rgba(0, 0, 0, 0.05);
	--shadow-2xl:
		0px 1px 1px -0.5px rgba(0, 0, 0, 0.15), 0px 3px 3px -1.5px rgba(0, 0, 0, 0.05),
		0px 6px 6px -3px rgba(0, 0, 0, 0.05), 0px 12px 12px -6px rgba(0, 0, 0, 0.05),
		0px 24px 24px -12px rgba(0, 0, 0, 0.05), 0px 48px 48px -24px rgba(0, 0, 0, 0.05);
}

@theme {
	--font-sans: 'Aeonik Pro';
	--font-mono: 'Aeonik font-mono';

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-accent: var(--accent);
	--color-border: var(--border);
	--color-card: var(--card);
	--color-card-light: var(--card-light);
	--color-card-muted: var(--card-muted);

	--font-weight-light: 200;
	--font-weight-normal: 300;
	--font-weight-medium: 400;
	--font-weight-semibold: 500;
	--font-weight-bold: 600;
	--font-weight-extrabold: 700;
	--font-weight-black: 800;

	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

@layer base {
	body {
		@apply bg-background font-sans text-foreground;
	}
}
